body {
	/* background-color: #e4f6f6; */
	/* background-color: #cff5e7; */
	margin: 0;
	text-align: center;
	font-family: "Merriweather", serif;
	font-weight: bold;
	/* font-size: 200%; // now as 200% = 32px, now 1em = 32px and the changes will refects in all of its child */
}

p {
	line-height: 2;
}

h1 {
	/* margin: 50px; */
	margin: 50px auto 0 auto;
	font-family: "Sacramento", cursive;
	/* font-size: 5.625em; // 16px = 100% = 1em // 90px = 90/16 = 562.5% = 5.625em */
	font-size: 5.625rem; /* 1rem is always equals to 16px irrespective of its parents config*/
	color: #66bfbf;
	/* line-height: 2; */
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
	color: #66bfbf;
	/* font-weight: bold; */
}

h3 {
	font-family: "Montserrat", sans-serif;
	color: #11999e;
}

a {
	color: #11999e;
}

a:hover {
	color: #eaf6f6;
}

.skill-row {
	width: 50%;
	margin: 110px auto;
	/* line-height: 2; */
	text-align: left;
}

.top-container {
	background-color: #eaf6f6;
	position: relative;
	padding: 100px;
	padding-bottom: 0;
	margin: 0;
}

.pro {
	text-decoration: underline;
}

.top-cloud {
	position: absolute;
	right: 500px;
	top: 50px;
}
.bottom-cloud {
	position: absolute;
	left: 450px;
	top: 350px;
}

.mountain {
	position: relative;
	/* top: 5px; */
	padding-bottom: 0;
}

.me {
	height: 10%;
	width: 10%;
	border-radius: 50%;
	margin-top: 50px;
}

.description {
	color: #40514e;
}

.me-para {
	/* width: 500px; */
	width: 30%;
	margin: auto;
	/* line-height: 2; */
}

.computer {
	height: 25%;
	width: 25%;
	border-radius: 50%;
	float: left;
	margin-right: 30px;
}
.shuttle {
	height: 25%;
	width: 25%;
	border-radius: 50%;
	float: right;
	margin-left: 30px;
}

.connect {
	margin: 40px auto 60px;
}

/* .skill-para-1 {
	clear: left;
}
.skill-para-2 {
	clear: right;
} */

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	font-weight: normal;
}

.btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
}

.bottom-container {
	margin: 0;
	background-color: #66bfbf;
	font-family: "Montserrat", sans-serif;
	padding: 50px 0 20px;
}

hr {
	background-color: white;
	/* border-style: dotted none none none; */
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 10px;
	width: 5%;
	/* background-color: #eaf6f6; */
	margin: 90px auto;
}

.contact-btn {
	margin: 70px;
}

.footer-link {
	color: #11999e;
	margin: 10px 25px;
	text-decoration: none;
}

.copyright {
	color: #eaf6f6;
	font-size: 0.75em;
	font-family: "Merriweather", serif;
	font-weight: normal;
}
/* 
.index2 {
	color: #11bfbf;
	text-decoration: none;
	position: absolute;
	right: 0;
} */
